@font-face {
	font-family: "Theme-Font";
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@keyframes BackgroundGradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}


body {
	--font-text-theme: Theme-Font, sans-serif;
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

.theme-dark {
	--custome-header-line-color: rgba(201, 201, 201, 0.314);

	--h1-color: #bcbec4;
	--h2-color: #bcbec4;
	--h3-color: #bcbec4;
	--h4-color: #bcbec4;
	--h5-color: #bcbec4;
	--h6-color: #bcbec4;

	--text-normal: #bcbec4;
	--text-accent: #56a8f5;
	--text-selection: #214283;
	--text-hightlight-bg: #A87B00;
	--bold-color: #90a939;
	--background-primary: #1e1f22;
	--code-background: #404348;

	/* .markdown-source-view .HyperMD-header {
		margin-bottom: 10px !important;
	} */

	.nav-folder-title-content::before {
		content: "🖿 ";
	}

	.markdown-preview-view {
		--p-spacing: 10px;
		--heading-spacing: 30px;
	}

	.markdown-preview-view :is(h2,h3,h4,h5,h6) {
		position: relative;
	}


	.markdown-preview-view .inline-title {
		width: 100%;
	}

	.markdown-preview-view .inline-title,
	.markdown-source-view .inline-title {
		position: relative;
		border-radius: 4px;
		padding: 0.5em 1.5em;
		display: inline-block;
		background: linear-gradient(132deg, #010199, #015d01, #580000, #000000);
		background-size: 600% 600%;
		animation: BackgroundGradient 15s ease infinite;
	}

	.markdown-source-view .inline-title::before {
		content: "✒️️";
		position: absolute;
		left: 5px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 0.8em;
		color: var(--text-faint, #888);
	}

	.markdown-preview-view :is(h2,h3,h4,h5,h6)::after,
	.cm-header:is(.cm-header-2,.cm-header-3,.cm-header-4,.cm-header-5,.cm-header-6)::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -2px;
		width: 100%;
		height: 1px;
		background-color: var(--custome-header-line-color);
	}
}

.theme-light {
	--custome-header-line-color: rgba(0, 0, 0, 0.314);
	/*--font-text: 'S-CoreDream-3Light';*/

	--h1-color: #000;
	--h2-color: #000;
	--h3-color: #000;
	--h4-color: #000;
	--h5-color: #000;
	--h6-color: #000;

	--text-normal: #000;
	--text-accent: #4476e5; /* 링크 */
	--text-selection: #214283;
	--text-hightlight-bg: #5974ab;
	--bold-color: #90a939;
	--background-primary: #fff;
	--code-background: #efeded;

	.markdown-preview-view ::selection,
	.markdown-source-view ::selection {
		color: #fff;
		background-color: var(--text-selection);
	}

	/* .markdown-source-view .HyperMD-header {
	  margin-bottom: 10px !important;
	} */

	.nav-folder-title-content::before {
		content: "🖿 ";
	}

	.markdown-preview-view {
		--p-spacing: 10px;
		--heading-spacing: 30px;
	}

	.markdown-preview-view :is(h2,h3,h4,h5,h6) {
		position: relative;
	}


	.markdown-preview-view .inline-title {
		width: 100%;
	}

	.markdown-preview-view .inline-title,
	.markdown-source-view .inline-title {
		position: relative;
		border-radius: 4px;
		padding: 0.5em 1.5em;
		display: inline-block;
		background: linear-gradient(132deg, #b0b0ff, #fc7d7d, #c77b7b, #ffffff);
		background-size: 600% 600%;
		animation: BackgroundGradient 15s ease infinite;
	}

	.markdown-source-view .inline-title::after {
		content: "✒️️️";
		position: absolute;
		left: 5px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 0.8em;
		color: var(--text-faint, #888);
	}


	.markdown-preview-view :is(h2,h3,h4,h5,h6)::after,
	.cm-header:is(.cm-header-2,.cm-header-3,.cm-header-4,.cm-header-5,.cm-header-6)::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -2px;
		width: 100%;
		height: 1px;
		background-color: var(--custome-header-line-color);
	}
}


